@charset "utf-8";
/* CSS Document */
/* head部分 */
body{
    display:flex;
    flex-direction:column;
}

/* header部分 */
header{
    width:100%;
    height:.88rem;
    display:flex;
    align-items: center;
    font-size:.36rem;
    color:black;
    border-bottom:1px solid #e4e4e4;
}
header>span:first-child{
    margin: 0 2.42rem 0 .3rem;
}
